@import url('https://fonts.googleapis.com/css?family=Inconsolata');

@keyframes shake {
  10%, 30%, 50%, 70%, 90% { transform: translateX(-4px) }
  20%, 40%, 60%, 80% { transform: translateX(4px) }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(180deg); }
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  font-family: 'Inconsolata', monospace;
  font-size: 28pt;
  color: #DEDEDE;
}

footer {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 1pc;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

input {
  border: 1px solid #DEDEDE;
  width: calc(100vw - 25%);
  padding: 6px;
  font-family: 'Inconsolata', monospace;
  font-size: 28pt;
  color: #DEDEDE;
}

span {
  content: 'mirage';
  flex-basis: 48px;
  text-align: center;
}

q, span {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.shake {
  animation: shake 0.5s linear both;
  transform: translateX(0);
}

.loader {
  position: absolute;
  animation: spin 1s infinite;
  transform-origin: center;
}
.loader::before {
  content: '';
  background-color: black;
  opacity: 0.2;
  position: absolute;
  top: -12px;
  left: -4px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
.loader::after {
  content: '';
  background-color: black;
  opacity: 0.2;
  position: absolute;
  top: 4px;
  left: -4px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
